.button {
  background: transparent;
  border: 1px solid #555555;
  color:#555555;
  cursor:pointer;
  line-height: 1;
  font-weight: 300;
  margin-left: 1.3rem;
  outline:none;
  padding:1.3rem;
  transition: background .5s ease;

  &:hover, &:focus {
    background: #e8e8e8;

  }
  &:active {
    background: #cccccc;
    transform: scale(1.2);
    transition : transform .5s ease;
  }
}
.button--submit {
  margin-top: 2rem;
}
.button__survey--start {
  margin-top: 10rem;
  text-align: center;
}
.button__survey--start--next {
  line-height: 1;
  width: 15rem;
  height:6rem;
  background: $blue;
  font-size:2rem;
}
.button--anchor {
  text-decoration: none;
}
@media screen and (max-width: 780px) {
    .button__survey--start--next  {
      width: 60%;
      margin: auto;
    }
}

// signup && login
.button__login {
  display:block;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
.button__remove {
  background: $red;
}
.button__update {
  background: $blue;
}
