$blue: #e6faff;

.button {
  background: transparent;
  border: 1px solid #555555;
  color:#555555;
  cursor:pointer;
  line-height: 1;
  font-weight: 300;
  margin-left: 1.3rem;
  outline:none;
  padding:1.3rem;
  transition: background .5s ease;

  &:hover, &:focus {
    background: #e8e8e8;

  }
  &:active {
    background: #cccccc;
    transform: scale(1.2);
    transition : transform .5s ease;
  }
}
.button--submit {
  margin-top: 2rem;
}
.button__survey--start {
  margin-top: 10rem;
  text-align: center;
}
.button__survey--start--next {
  line-height: 1;
  width: 15rem;
  height:6rem;
  background: $blue;
  font-size:2rem;
}
.button--anchor {
  text-decoration: none;
  width: 2rem;
  height :0.5rem;
  line-height: 2;
}
