.form {
  display:flex;
}
.form__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: space-around;
}
.form__input {
  border: 1px solid #e8e8e8;
  flex-grow: 1;
  padding:0 1.3rem;
}
.form__share {
  display:flex;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-bottom: 1.3rem;
  padding:1rem;
  justify-content: flex-start;
  align-content: space-around;
}
.form__share__buttons {
  display: flex;
  justify-content: flex-start;
}
