@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.title-bar {
  display:flex;
  background: teal;
  color: #ffffff;
  flex-direction: row;
  justify-content: space-between;
}
.header__logout {
  font-family: 'Inconsolata', monospace;
  background: $orange;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
.header__questions {
  font-family: 'Inconsolata', monospace;
  background: $red;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
.header__navigation {
  font-family: 'Inconsolata', monospace;
  font-size:2rem;
  background: transparent;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  border:none;
  color:$light-grey;
  &:hover,&:active,&:focus {
    background: none;
    color:$light-blue;
  }
}
