@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.title-bar {
  display:inline-flex;
  background: #333300;
  color: #ffffff;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.header__logout {
  font-family: 'Inconsolata', monospace;
  background: $orange;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
.header__questions {
  font-family: 'Inconsolata', monospace;
  background: $red;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
.header__navigation {
  font-family: 'Inconsolata', monospace;
  font-size:2rem;
  background: transparent;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  border:none;
  text-decoration: none;
  color:$light-blue;
  &:hover,&:active,&:focus {
    background: none;
    color:$orange;
  }

  @media screen and (max-width: 780px) {
      margin: 0;
      font-size: 1.5rem;
  }

}
