.login {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}

.login--modal {
  background: fade-out($login-overlay-bg, .3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.login__box {
  background-color: $login-bg;
  border: 1px solid $login-border-color;
  padding: 3.4rem;
  text-align: center;
  width: 24rem;
  height: 24rem;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__form__input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.login__text {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  }
