.motto {
	display:flex;
	justify-content:flex-end;
	flex-direction: column-reverse;
	position: relative;
}

.motto__container {
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 60px !important;
	font-weight: 200;
}

.motto__text {
	color: #5379fa !important;
}
