.about__container {
  width: inherit;
  display: flex;
  flex-direction: column;
  margin:0;
  padding: 10rem;
  height: 100vh;
  background: #2193b0;
  background: -webkit-linear-gradient(to right, #2193b0, #6dd5ed);
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  background: cover;
  position: relative;

  @media screen and (max-width: 720px) {
    max-height: 100%;
    max-width: 100%;
    position:relative;
    overflow-y: scroll;
    padding:1rem;
  }
}
.about__intro {
  font-size: 38px;
  @media screen and (max-width: 720px) {
    font-size:26px;
  }
}
.about__text {
  color: #fff;
  font-weight: 800;
  letter-spacing: -2px;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
}
.about__list {
  list-style-type: none;
  font-size: 24px;
  margin-left: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: justify;
  @media screen and (max-width: 720px) {
    font-size:18px;
  }
}

.about__list__item {
  align-items: left;
  padding: 1rem;
  &:after {
    width: 100%;
    display: inline-block;
  }
  @media screen and (max-width: 720px) {
    width: 280px;
  }
}
